<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Upload the song(.wav only)</title>
</head>
<body>


     <nav class="navbar navbar-expand-sm " style="background-color: #343338">
        <a href="#home" class="navbar-brand" style="color: white; font-family: cursive; font-weight: bolder; font-size: 40px; padding: 5px;" ><img class="logo" src="https://www.pinclipart.com/picdir/big/0-5404_clip-arts-related-to-white-music-notes-clipart.png" height="55" width="80">  Kaansen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="admin" class="nav-link" style="color: white;">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="menu-item-list-customer" class="nav-link" style="color: white;">Customer</a>
                </li>
            </ul>
        </div>
        </nav>

<div class = "body">
<h1>File Uploader</h1>
<form id="upload-form" action="{{ url_for('upload')}}" method="post" enctype="multipart/form-data">
    <input class="btn btn-warning" type="file" name="file" accept=".wav" multiple>
    <input class="btn btn-warning" type="submit" value="UPLOAD">

</form>
</div>


 <footer class="page-footer">
     <div class="footer-copyright">
        Copyright 2020
     </div>   
    </footer>


</body>
</html>